@import "tailwindcss";

@theme {
  --color-black-deep: #101010;
  --color-black-soft: #232323;
  --color-gray-mid: #868686;
  --color-gray-light: #f3f3f3;
  --color-green-lime: #9effbf;
  --color-purple-dark: #7941a7;
  --color-purple-lavender: #e2beff;
  --color-blue-deep: #1059c8;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Thin Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons ExtraLight Italic.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons DemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons DemiBold Italic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons ExtraBold Italic.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Commons";
  src: url("/fonts/tt-commons/TT Commons Black Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

body {
  font-family: "TT Commons", sans-serif;
}
